launch.application$Boolean=false
rmiPort$Long={{ jsm_server_port }}
app.jiraHome={{ jsm_home_dir }}
app.install.service$Boolean=true
# existingInstallationDir={{ jsm_installation_dir }}
sys.confirmedUpdateInstallationString=false
sys.languageId=en
sys.installationDir={{ jsm_installation_dir }}
executeLauncherAction$Boolean=false
httpPort$Long={{ jsm_connector_port }}
portChoice=default