$From = "devops@agileops.vn"
$To = "{{ rdp_user }} <{{ to_email }}>"
$Subject = "Your new VM is ready"
$Body = @"
{{ lookup('template','templates/mail_body.html.j2') }}
"@

# The password is an app-specific password if you have 2-factor-auth enabled
$Password = "{{ gmail_app_password }}" | ConvertTo-SecureString -AsPlainText -Force
$Credential = New-Object -TypeName System.Management.Automation.PSCredential -ArgumentList $From, $Password
Send-MailMessage -From $From -To $To -Subject $Subject -Body $Body  -BodyAsHtml -SmtpServer "smtp.gmail.com" -port 587 -UseSsl -Credential $Credential
