launch.application$Boolean=false
app.confHome={{ confluence_home_dir }}
app.install.service$Boolean=true
sys.languageId=en
sys.installationDir={{ confluence_installation_dir }}
executeLauncherAction$Boolean=false
portChoice=default
sys.confirmedUpdateInstallationString=false


launch.application$Boolean=false
app.confHome=/var/atlassian/application-data/confluence
app.install.service$Boolean=true
sys.languageId=en
sys.installationDir=/opt/atlassian/confluence
executeLauncherAction$Boolean=false
portChoice=default
sys.confirmedUpdateInstallationString=false
