launch.application$Boolean=false
rmiPort$Long={{ jira_server_port }}
app.jiraHome={{ jira_home_dir }}
app.install.service$Boolean=true
# existingInstallationDir={{ jira_installation_dir }}
sys.confirmedUpdateInstallationString=false
sys.languageId=en
sys.installationDir={{ jira_installation_dir }}
executeLauncherAction$Boolean=false
httpPort$Long={{ jira_connector_port }}
portChoice=default